Flask
Flask-Login
Flask-JWT-Extended[asymmetric_crypto]
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Cors
Flask-Migrate
flask-restx
flask-socketio
SQLAlchemy
blinker # required for event system in flask & SQLAlchemy
celery[redis]
redis