Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Cors
Flask-Migrate
flask-restx
flask-socketio
SQLAlchemy
blinker # required for event triggering on SQLAlchemy ORM/model updates
# Stuff required for Celery (we use the redis backend)
celery
celery[redis]
redis